/* $Main */
#social-links{ float: right; padding-top: 15px; }
.fb_edge_widget_with_comment{position:relative;top:-4px;}
#social-links span {
    vertical-align: baseline !important;
}
.fb-like {
    margin-right: 15px; 
}
#main {
    #bg {
        background: url('../img/banner.jpg') center -10px no-repeat;
        height: 300px;
        width: 100%;
    }
    .masthead {
        border-bottom: 1px solid #BEBEBE;
        h2 {
            text-indent: -9999px;
            /*font-size: 40px;*/
            /*font-weight: normal;*/
            /*letter-spacing: -1px;*/
            /*margin: 0px;*/
            /*margin-top: 10px;*/
        }
        .info {
            margin-bottom: 10px;
            p {
                font-style: italic;
            }
        }
        .social-icons {
            text-align: right;
            #facebook {
                width: 150px;
                margin-top: 8px;
            }
            #twitter {
                margin-top: 10px;
            }
        }
    }

    .socket-info {
        /*padding: 0px 10px;*/
        margin-top: 10px;
        margin-bottom: 10px;
        p {
            margin: 0px;
        }
        #status {
            margin-bottom: 5px;
        }
    }

    .sticky {
        padding: 10px;
        border-bottom: 1px solid #BEBEBE;
        background: #F2F2F2;
        font-size: 16px;
    }
    .feed {
        margin-top: 20px;
        min-height: 300px;
        &.loading {
            background: url('../img/ajax-loader.gif') center center no-repeat;
        }
        .post {
            padding: 0px 10px;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #BEBEBE;
            p {
                margin-top: 3px;
                margin-bottom: 10px;
            }
            .time {
                font-size: 18px;
                font-weight: bold;
            }
            .content {
                font-size: 16px;
                overflow: hidden;
            }
            .piccont {
                margin-bottom: 10px;
            }
            #twittericon {
                height: 35px;
                width: 35px;
                background: url('../img/twitter_newbird_blue-50.png') center center no-repeat;
            }
            &.matchupdate, &.matchfinish {
                .update {
                    margin-top: 5px;
                    font-style: italic;
                    color: gray;
                }
                .info {
                    color: gray;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                .team1 {
                    float: left;
                    text-align: right;
                    width: 35%;
                    font-weight: bold;
                    font-size: 15px;
                    color: #1f6474;
                    margin-top: 3px;
                }
                .score1 {
                    float: left;
                    font-weight: bold;
                    text-align: right;
                    width: 10%;
                    font-size: 20px;
                }
                .divider {
                    float: left;
                    font-weight: bold;
                    text-align: center;
                    width: 5%;
                    margin-top: 2px;
                }
                .score2 {
                    float: left;
                    font-weight: bold;
                    text-align: left;
                    width: 10%;
                    font-size: 20px;
                }
                .team2 {
                    float: left;
                    width: 35%;
                    font-weight: bold;
                    font-size: 15px;
                    color: #bc2828;
                    margin-top: 3px;
                }
            }
            &.quotecont {
                .quote {
                    font-size: 24px;
                    background: url('../img/quote-35.png') 20px 0 no-repeat;
                    text-indent: 50px;
                    min-height: 35px;
                    font-style: italic;
                }
                .content {
                    margin-top: 10px;
                    color: gray;
                }
            }
        }
    }

    .sidebar {
        h3 {
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 5px;
            margin-top: 10px;
            letter-spacing: -1px;
        }
        .matchlist {
            h4 {
                font-weight: normal;
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 10px;
                border-bottom: 1px solid #BEBEBE;
                padding-bottom: 5px;
            }
            .cont {
                padding-left: 10px;
            }
            .match {
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #BEBEBE;
                .info {
                    color: gray;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                .team1 {
                    float: left;
                    text-align: right;
                    width: 35%;
                    font-weight: bold;
                    font-size: 15px;
                    color: #1f6474;
                }
                .score1 {
                    float: left;
                    font-weight: bold;
                    text-align: right;
                    width: 10%;
                    font-size: 20px;
                }
                .divider {
                    float: left;
                    font-weight: bold;
                    text-align: center;
                    width: 5%;
                    margin-top: 2px;
                }
                .score2 {
                    float: left;
                    font-weight: bold;
                    text-align: left;
                    width: 10%;
                    font-size: 20px;
                }
                .team2 {
                    float: left;
                    width: 35%;
                    font-weight: bold;
                    font-size: 15px;
                    color: #bc2828;
                }
            }
        }
    }
}

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
body {
    
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
	body {
		
	}
    #main {
        #bg {
            background: url('../img/scrumweb-900.jpg') center -10px no-repeat;
        }
    }
    
    .picture {
        img {
            width: 300px !important;
        }
    }
}