<div class="post matchfinish">
    <div class="row">
        <div class="small-1 columns">
            <div class="time">{{time}}</div>
            <div class="update">Match Finished</div>
        </div>
        <div class="small-11 columns">
            <div class="info clearfix">
                <div class="info">{{meta.location}}</div>
                <div class="team1">{{meta.team1}}</div> 
                <div class="score1">{{meta.score1}}</div> 
                <div class="divider">-</div> 
                <div class="score2">{{meta.score2}}</div> 
                <div class="team2">{{meta.team2}}</div> 
            </div>
        </div>
    </div>
</div>
