<div class="post matchfinish">
    <div class="row">
        <div class="span1">
            <div class="time">{{time}}</div>
        </div>
        <div class="span4">
            Match Finished!   
            <div class="info">
                {{meta.team1}} v {{meta.team2}}
            </div>
            <div class="score">
                {{meta.score1}} - {{meta.score2}}
            </div>
        </div>
    </div>
</div>
