<div class="match clearfix">
    <div class="info">{{location}} - {{time}}</div>
    <div class="team1">{{team1}}</div> 
    <div class="score1">{{score1}}</div> 
    <div class="divider">-</div> 
    <div class="score2">{{score2}}</div> 
    <div class="team2">{{team2}}</div> 
</div>
