<div class="post twitter">
    <div class="row">
        <div class="small-1 columns">
            <div class="time">{{time}}</div>
            <div id="twittericon"></div>
        </div>
        <div class="small-11 columns">{{{meta.tweetcontent.html}}}</div>
    </div>
    <div class="row">
        <div class="content small-11 small-offset-1 columns">{{{content}}}</div>
    </div>
</div>
