<div class="post quotecont">
    <div class="row">
        <div class="span1">
            <div class="time">{{time}}</div>
        </div>
        <div class="span4 quote">{{{meta.quote}}}</div>
    </div>
    <div class="row">
        <div class="content span4 offset1">{{{content}}}</div>
    </div>
</div>
