<div class="post picture">
    <div class="row">
        <div class="time span1">{{time}}</div>
        <div class="piccont row clearfix">
            <img src="{{meta.picurl}}" class="span5"/>
        </div>
    </div>
    <div class="row">
        <div class="content span5 offset1">{{{content}}}</div>
    </div>
</div>
