<div class="post quotecont">
    <div class="row">
        <div class="small-1 columns">
            <div class="time">{{time}}</div>
        </div>
        <div class="small-11 columns quote">{{{meta.quote}}}</div>
    </div>
    <div class="row">
        <div class="content small-11 columns small-offset-1">{{{content}}}</div>
    </div>
</div>
